*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: #FFFFFF;
}
nav {
    max-width: 1600px;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 32px;
    max-width: 367px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
nav a{
    text-decoration: none;
    color: #000000;
}
nav img{
    max-width: 139px;
}
.first-button{
    max-width: 164px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    font-size: 600;
    padding: 12px 16px;
    border-radius: 4px;
}
.banner{
    max-width: 1600px;
    background-image: url("assets/hero-bg.png");
    margin: o auto;
    padding: 115px;
}
.banner-container{
    max-width: 1360px;
    margin: 0 auto;
}
.banner-info h5{
    max-width: 229px;
    padding: 8px 12px;
    border-radius: 1000px;
    text-align: center;
    background-color: #FFFFFF;
    color: #30B868;
    margin: 0 auto;
    margin-bottom: 16px;
}
.banner-info h2{
    max-width: 770px;
    margin: 0 auto;
      font-size: 72px;
      font-weight: 700;
      line-height: 84px;
      color: #FFFFFF;
      margin-bottom: 16px;
      
}
.banner-info h2 span{
    color: #30B868;
}
.banner-info p{
    max-width: 1360px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 32px;

}
.banner-btn{
    max-width:465px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
    
}
.banner-btn .btn1{
    max-width: 251px;
    padding: 12px 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    display: flex;
    gap: 10px;
    background-color: #469165;

}
.banner-btn .btn2{
    max-width: 198px;
    padding: 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    border-radius: 4px;
    background-color: transparent;
    border:2px solid #FFFFFF;
    
}
.note{
    max-width: 1360px;
    margin: 0 auto;
}
.note h1{
      max-width: 1360px;
    margin: 0 auto;
      font-size: 48px;
      font-weight: 700;
      line-height: 58px;
      color: #000000;
      text-align: center;
      margin-bottom: 16px;
      padding-top: 45px;

}
.note p{
    max-width: 1360px;
    margin: 0 auto;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      color:#627382;
      text-align: center;
      margin-bottom: 44px;
}

.card-container {
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.card {
    max-width: 322px;
    padding: 69px 24px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 8px #0000001c;
}

.img-border{
    max-width: 60px;
    background-color: #F95555;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 16px;
    padding: 14px 13.9px 13.9px 14px;
}
.card h4{
    max-width: 274px;
    margin: 0 auto;
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.card p{
    max-width: 274px;
    margin: 0 auto;
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.two-part {
    max-width: 1360px;
    margin: 100px auto 120px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 60px;
    
}
.left-part {
    max-width: 600px;

}
.right-part{
    max-width: 700px;
}
.left-part img {
    max-width: 600px;
    border-radius: 12px;
}
.small {
    max-width: 700px;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    margin-top: 16px;

}

.right-part-h2{
    max-width: 700px;
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;
    margin-bottom: 16px;
}
.describe{
     max-width: 700px;
    color: #627382;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    margin-bottom: 40px;

}
.check-part p{
    max-width: 700px;
    color: #001931;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin-bottom: 16px;
}
    
.early-access {
    max-width: 1360px;
    margin: 0 auto 120px;
    padding: 80px 40px;
}

.early-access h2 {
    max-width: 1280px;
    margin: 0 auto 16px;
    font-size: 45px;
    font-weight: 700;
    color: #001931;
    text-align: center;
}

.early-access p {
    max-width: 1280px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    text-align: center;
}



.last-btn {
    max-width: 194px;
    margin: 24px auto 16px;
    padding: 16px;
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 4px;
    gap: 10px;

}

.footer {
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px 120px 30px;
    background-color: #001931;
    border: 1px solid green;
}

.link-section{
    max-width: 1360px;
    margin: 0 auto 80px;
    display: flex;
    justify-content: space-between;
}

.link-section img {
    max-width: 139px;
}

.social-section {
    max-width: 220px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

}

.social-section p{
    max-width: 113px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;

}

.copyright {
    max-width: 1360px;
    margin: 0 auto;
    border-top: 2px solid #e5e7eb1d;
    padding-top: 30px;
}
.copyright p{
    max-width: 1360px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #FAFAFA;
}
